{% extends 'base.html' %} {% block content %}

<div class="jumbotron p-3 bg-dark shadow-sm rounded">
    <div class="container-lg text-light ">
        <h4 class=" text-capitalize text-center">registration form</h4>
    </div>
</div>


<div class="container rounded col-10">
    <div class="container-sm col-lg-6 font-weight-bold ">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                <br>{{form.email.label}} : {{form.email(class_="form-control") }}
            </div>
            <div class=" form-group ">
                <br>{{form.username.label}} : {{form.username(class_="form-control") }}
            </div>
            <div class=" form-group ">
                <br>{{form.password.label}} : {{form.password(class_="form-control") }}
            </div>
            <div class=" form-group ">
                <br>{{form.password_confirm.label}} : {{form.password_confirm(class_="form-control") }}
            </div>
            <div class="form-group">
                <br>{{ form.submit(class_="btn btn-primary float-right") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}